* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.adminPage,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.contact-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.marketing {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.consulting {

  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}

.adminPage {

  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-size: 100px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  margin: auto;
  width: 50%;
}

.myForm{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton{
  width: 100%;
  background-color: #00b894;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myList{
  list-style: none;
}

.myListButton{
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  border: 1px solid #00b894;
  margin: 3px 5px;
}

